In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel(r"E:\udmey\Precision Farming to Impove the yield\1_yield_data.xlsx")
print(df)

     S.No         Crop  Dist_id       District       Year  Season  \
0       1    groundnut        1       ADILABAD  2016-2017  kharif
1       2    groundnut       11  KOMARAM BHEEM  2016-2017  kharif
2       4    groundnut       13     MANCHERIAL  2016-2017  kharif
3       5    groundnut       21         NIRMAL  2016-2017  kharif
4       6    groundnut       22      NIZAMABAD  2016-2017  kharif
..    ...          ...      ...            ...        ...     ...
553   555  bengal gram       30     WANAPARTHY  2018-2019    rabi
554   556  bengal gram       18   NAGARKURNOOL  2018-2019    rabi
555   557  bengal gram       19       NALGONDA  2018-2019    rabi
556   558  bengal gram       28       SURYAPET  2018-2019    rabi
557   559  bengal gram       10        KHAMMAM  2018-2019    rabi

     Season_yield  Total
0               0   2068
1               0   2068
2            1930   2066
3               0   2068
4            1930   2044
..            ...    ...
553          2140   2140
554          1569   1569
555          1569   1569
556          1569   1569
557          1569   1569

[558 rows x 8 columns]

In [3]:
np.random.seed(0)

In [4]:
df.head(20)

,S.No,Crop,Dist_id,District,Year,Season,Season_yield,Total
0,1,groundnut,1,ADILABAD,2016-2017,kharif,0,2068
1,2,groundnut,11,KOMARAM BHEEM,2016-2017,kharif,0,2068
2,4,groundnut,13,MANCHERIAL,2016-2017,kharif,1930,2066
3,5,groundnut,21,NIRMAL,2016-2017,kharif,0,2068
4,6,groundnut,22,NIZAMABAD,2016-2017,kharif,1930,2044
5,7,groundnut,4,JAGTIAL,2016-2017,kharif,0,1794
6,8,groundnut,23,PEDDAPALLI,2016-2017,kharif,0,2068
7,9,groundnut,6,JAYASHANKAR,2016-2017,kharif,3723,2151
8,10,groundnut,2,BHADRADRI,2016-2017,kharif,1930,2186
9,11,groundnut,16,MAHABUBABAD,2016-2017,kharif,3723,1353
10,12,groundnut,31,WARANGAL RURAL,2016-2017,kharif,3723,3265
11,13,groundnut,32,WARANGAL URBAN,2016-2017,kharif,3723,2416
12,14,groundnut,9,KARIMNAGAR,2016-2017,kharif,1930,2411
13,15,groundnut,24,RAJANNA,2016-2017,kharif,0,2068
14,16,groundnut,8,KAMAREDDY,2016-2017,kharif,0,2068
15,17,groundnut,26,SANGAREDDY,2016-2017,kharif,1930,2049
16,18,groundnut,14,MEDAK,2016-2017,kharif,1930,2062
17,19,groundnut,27,SIDDIPET,2016-2017,kharif,1930,2066
18,20,groundnut,5,JANGAON,2016-2017,kharif,3723,1516
19,21,groundnut,33,YADADRI,2016-2017,kharif,1671,1736

In [5]:
# get the number of missing data points per column
missing_values_count = df.isnull().sum()
missing_values_count[0:10]

S.No            0
Crop            0
Dist_id         0
District        0
Year            0
Season          0
Season_yield    0
Total           0
dtype: int64

In [6]:
# how many total missing values do we have?
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

0.0

In [7]:
# look at the # of missing points in the first ten columns
missing_values_count[0:10]

S.No            0
Crop            0
Dist_id         0
District        0
Year            0
Season          0
Season_yield    0
Total           0
dtype: int64

In [8]:
# importing the module 
import pandas

In [9]:
# reading the files 
f1 = pandas.read_excel("1_yield_data.xlsx") 
f2 = pandas.read_excel("6_weather_data_.xlsx") 
# merging the files 
f3 = f1[["Dist_id","Crop",  
         "Season_yield"]].merge(f2[["Dist_id",  
                                         "District", "crop_season",  
                                         "Rainfall"]],  
                                     on = "Dist_id",  
                                     how = "left") 
# creating a new file 
f3.to_excel("Results.xlsx", index = False)

ValueError: This sheet is too large! Your sheet size is: 9299826, 6 Max sheet size is: 1048576, 16384

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
# Get column names
column_names = df.columns
print(column_names)

In [ ]:
# Get column data types
df.dtypes

In [ ]:
# Also check if the column is unique
for i in column_names:
  print('{} is unique: {}'.format(i, df[i].is_unique))

In [ ]:
# Check the index values
df.index.values
# Check if a certain index exists
'foo' in df.index.values
# If index does not exist
#df.set_index('column_name_to_use', inplace=True)

In [ ]:
# Create list comprehension of the columns you want to lose
columns_to_drop = [column_names[i] for i in [1, 3, 5]]
# Drop unwanted columns
df.drop(columns_to_drop, inplace=True, axis=1)

In [ ]:
# Fill NaN with ' '
df['col'] = df['col'].fillna(' ')

In [ ]:
# Fill NaN with 99
df['col'] = df['col'].fillna(99)

In [ ]:
# Fill NaN with the mean of the column
df['col'] = df['col'].fillna(df['col'].mean())

In [ ]:
df = pd.DataFrame(data={'col1':[np.nan, np.nan, 2,3,4, np.nan, np.nan]})

In [ ]:
df.fillna(method='pad', limit=1)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
#Loading or reading the file
# Encoding error
# inconsistent rows
df=pd.read_excel(r"E:\udmey\Precision Farming to Impove the yield\1_yield_data.xlsx")
print(df)

In [ ]:
df1=pd.read_excel(r"E:\udmey\Precision Farming to Impove the yield\6_weather_data_.xlsx")
print(df1.head(10))

In [ ]:
df1.head()

In [ ]:
df1.shape()

In [ ]:
df1.tail(3)

In [ ]:
df1.info()

In [ ]:
df.describe()

In [ ]:
df1.value_counts(dropna=False)

In [ ]:
df.apply(pd.Series.value_counts)

In [ ]:
df1.describe()

In [ ]:
df1.mean()

In [ ]:
df1.corr()

In [ ]:
df1.count()

In [ ]:
df1.max()

In [ ]:
df1.min()

In [ ]:
df1.median()

In [ ]:
df1[col]

In [ ]:
df.head()

In [ ]:
df.tail(5)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.apply(pd.Series.value_counts)

In [ ]:
df.describe()

In [ ]:
df.mean()

In [ ]:
df.corr()

In [ ]:
df.count()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.median()

In [ ]:
df.std()

In [ ]:
df[S.No]

In [ ]:
df.iloc[0]

In [ ]:
df.loc[0]

In [ ]:
df.iloc[0,:]

In [ ]:
df.iloc[0,0]

In [ ]:
pd.isnull()

In [ ]:
pd.notnull()

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(axis=1,thresh=4)

In [ ]:
df.fillna(5)

In [ ]:
df.fillna(df.mean())

In [ ]:
df1.columns=df1.columns.str.upper()

In [ ]:
df1.columns

In [ ]:
df1.isnull()

In [ ]:
df1.isnull.any().any()

In [ ]:
df1.isnull().sum()

In [ ]:
# Total Number of Missing NA
df.isnull().sum().sum()

In [ ]:
# Adding A Default value or filling the missing data
df1.fillna(0)

In [ ]:
df.head()

In [ ]:
df1_width_0=df1.fillna(0)

In [ ]:
# Create A series Object From A Python list
ice_cream=['chocolate','vanilla',]